.findteam{
    background-image: url("../../UI/utils/img/findteambackground.png");
}

.ft__container{
    padding: 40px 100px 120px 100px;
}

.ft__header{
    margin-bottom: 60px;
}

.ft__header-row{
    display: flex;
    justify-content: space-between;
}

.ft__header-title{
    color: #FFF;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 72px */
}

.ft__header-button{
    padding: 20px 32px;
    border-radius: 25px;
    border: 2px solid  #FFF;
    background-color: rgba(28,28,28,0);
    text-align: center;
    color:  #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ft__button-arrow{
    padding-left: 16px;
    padding-top: 6px;
}

.ft__main{}

.ft__main-row{
    display: flex;
    margin-left: auto;
}

.ft__main-card1{
    margin-left: auto;
    margin-right: 25px;
}

.ft__main-card2{
    align-self: flex-end;
}