.skillsinfo__row {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.skillsinfo__specialization {
    flex: 0 1 auto;
    margin-bottom: 40px;
}

.specialization__text {
    margin-bottom: 20px;
}

.specialization-text__row {
    display: flex;
    align-items: center;
}

.specialization-text__title {
    flex: 0 1 auto;
    color: #363535;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    margin-right: 990px;
}


.specialization-text__settings {
    flex: 0 1 auto;
    background-color: #FFF;
}


.specialization__add {
    flex: 0 1 auto;
}

.specialization-add__row {
    display: flex;
    align-items: center;
}

.skillsinfo__aboutme {
    flex: 0 1 auto;
    margin-bottom: 35px;
}

.aboutme__title {
    color: #363535;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    margin-bottom: 20px;
}

.skillsinfo__abilities {
    flex: 0 1 auto;
    margin-bottom: 20px;
}

.abilities__text {
    margin-bottom: 30px;
}

.abilities-text__row {
    display: flex;
    align-items: center;
}

.abilities-text__title {
    flex: 0 1 auto;
    color: #363535;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    margin-right: 1090px;
}

.abilities-text__settings {
    flex: 0 1 auto;
    background: #FFF;
}

.abilities-add__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skillsinfo__download {
    flex: 0 1 auto;
    align-self: center;
}

.download__button {
    border-radius: 25px;
    background: linear-gradient(90deg, #671CE5 0%, #2F2B43 100%);
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    padding: 11px 46px;
}


@media (max-width:1750px) {
    .specialization-text__title {
        flex: 0 1 auto;
        color: #363535;
        font-size: 24px;
        font-family: Inter;
        font-weight: 500;
        margin-right: 756px;
    }

    .abilities-text__title {
        flex: 0 1 auto;
        color: #363535;
        font-size: 24px;
        font-family: Inter;
        font-weight: 500;
        margin-right: 858px;
    }
}