.mhn__container{
    padding: 30px 100px 30px 100px;
}

.mhn__row{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mhn__logo{
    margin-right: 40px;
}

.mhn__menu{
    margin-right: 40px;
}

.mhn-menu__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mhn-menu__spheres{
    margin-right: 32px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mhn-menu__find{
    margin-right: 32px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mhn-menu__create{
    margin-right: 32px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mhn-menu__news{
    margin-right: 32px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mhn-menu__contacs{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mhn-lk__row{
    display: flex;
    align-items: center;
}

.mhn-lk__portfolio{
    margin-right: 36px;
}

.mhn-lk__portfoliobutton{
    border-radius: 25px;
    border: 2px solid #000;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 10px 22px;
    background-color: rgba(28,28,28,0);
}

.mhn-lk__lkbutton{
    background-color: rgba(28,28,28,0);
}