.closelk__row {
    display: flex;
    align-items: center;
}

.closelk__text {
    flex: 0 1 auto;
    color: #363535;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
}

.closelk__img {
    flex: 0 1 auto;
    margin-right: 25px;
}