.header-lk {
    background: #272727;
}

.header-lk__row {
    display: flex;
    justify-content: space-between;
}

.header-lk__backtomain {
    align-self: center;
    flex: 0 1 auto;
    padding-left: 30px;
}

.header-lk__help {
    align-self: center;
    flex: 0 1 auto;
}

.header-lk__logo {
    align-self: center;
    flex: 0 1 auto;
}

.header-lk__openlk {
    align-self: center;
    flex: 0 1 auto;
}

.header-lk__exit {
    align-self: center;
    flex: 0 1 auto;
    padding-right: 30px;
}