.main__headerandwelcome{
    background-image: url("../../UI/utils/img/mainheaderandwelcomebackground.png");
    background-size: cover;
    -moz-background-size: cover; 
    background-position: center;
}

.main__spheres{}

.main__findteam{
    margin-bottom: 120px;
}

.main__createteam{
    margin-bottom: 120px;
}

.main__social{
    margin-bottom: 120px;
}

.main__news{
    margin-bottom: 120px;
}