.findteamcard{
    width: 700px;
    border-radius: 20px;
    background: #FFF;
}

.ftc__container{
    padding: 40px 40px 50px 40px;
}

.ftc__top{
    margin-bottom: 30px;
}

.ftc__top-row{
    display: flex;
}

.ftc__top-avatar{
    margin-right: 30px;
}

.ftc__avatar-img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.ftc__top-right{}

.ftc__right-title{
    margin-bottom: 12px;
    color:  #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ftc__right-filtres{
    margin-bottom: 30px;
}

.ftc__filtres-row{
    display: flex;
}

.ftc__filtres-specialization{
    margin-right: 14px;
    padding: 8px 16px;
    border-radius: 10px;
    background: linear-gradient(90deg, #671CE5 0%, #2F2B43 98.75%);
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ftc__filtres-money{
    padding: 8px 16px;
    border-radius: 10px;
    background: linear-gradient(90deg, #671CE5 0%, #2F2B43 98.75%);
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ftc__right-wanted{}

.ftc__wanted-title{
    margin-bottom: 10px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ftc__wanted-1{
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ftc__wanted-2{
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ftc__wanted-3{
    margin-left: 20px;  
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ftc__goal{
    margin-bottom: 30px;
}

.ftc__goal-text{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ftc__goal-span{
    margin-left: 5px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ftc__join{
    width: 100%;
}

.ftc__join-button{
    width: 100%;
    padding: 20px 0px;
    border-radius: 20px;
    background: linear-gradient(90deg, #671CE5 0%, #2F2B43 100%);
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ftc__join-button:hover{
    background: white;
    box-shadow: 0px 0px 4px 0px #671CE5;
    color: #671CE5;
}