.lk {
    width: 100%;
    position: relative;
    
}

.lk__row {
    display: flex;
    flex-direction: column;
    
}

.lkseparator {
    align-self: center;
}

.lk__addwork {
    position: absolute;
    top: 200px;
    left: 21%;
}

.blackWraper{
    background-color: rgba(1,1,1,0.7);
    position: absolute;
    height: 281.1vh;
    width: 100%;
    z-index: 10001;
}