@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

.authorization {
    min-height: 100%;
}

.auth__row {
    display: flex;
    justify-content: space-between;
}

.auth__form {
    flex: 0 1 auto;
}

.auth__info {
    flex: 1 1 auto;
}