.mainfooter {
    background: #0A0A0A;
}

.mf__container{
    padding: 60px 100px;
}

.mf__top{
    margin-bottom: 23px;
}

.mf__top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mf__top-navigation{}

.mf__navigation-row{
    display: flex;
    align-items: center;
}

.mf__navigation-about{
    margin-right: 32px;
    color: #F0F0F0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mf__navigation-spheres{
    margin-right: 32px;
    color: #F0F0F0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mf__navigation-findteam{
    margin-right: 32px;
    color: #F0F0F0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mf__navigation-news{
    color: #F0F0F0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mf__top-logo{}

.mf__top-contacs{}

.mf__contacs-row{
    display: flex;
    align-items: center;
}

.mf__contacs-text{
    margin-right: 20px;
    color:  #F0F0F0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mf__contacs-website{
    margin-right: 36px;
    color:  #F0F0F0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.mf__contacs-vk{
    margin-right: 36px;
    background-color: rgba(28,28,28,0);
}

.mf__contacs-tg{
    background-color: rgba(28,28,28,0);
}

.mf__bottom{}

.mf__bottom-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mf__bottom-year{
    margin-right: 24px;
    color:  #767676;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mf__bottom-politics{
    color: #767676;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}