.lkpinnedwork__container {
    padding: 50px 97px 50px 94px;
}

.lkpinnedwork__row {
    display: flex;
    flex-direction: column;
}

.lkpinnedwork__title {
    margin-bottom: 40px;
    color: #363535;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.lkpinnedwork__examplework {
    align-self: center;
}