.projectspageprofile{
    width: 840px;
    margin-bottom: 64px;
    border-radius: 20px;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.ppp1__container{
    padding: 36px;
}

.ppp1__top{
    margin-bottom: 32px;
}

.ppp1__top-row{
    display: flex;
    align-items: center;
}

.ppp1__top-avatar{
    margin-right: 24px;
}

.ppp1__avatar-img{
    width: 180px;
    height: 180px;
    border-radius: 200px;
}

.ppp1__top-title{
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ppp1__goal{
    margin-bottom: 16px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ppp1__goal-span{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ppp1__creator{
    margin-bottom: 16px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ppp1__creator-span{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ppp1__buttons{}

.ppp1__buttons-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ppp1__buttons-submit{
    width: 45%;
    padding: 20px 0px;
    border-radius: 20px;
    background: linear-gradient(90deg, #671CE5 0%, #2F2B43 100%);
    color:#FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ppp1__buttons-details{
    width: 100%;
    padding: 20px 0px;
    border-radius: 20px;
    border: 2px solid #671CE5;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.link__button{
    width: 100%;
}

.ppp1__buttons-details:hover{
    background-color: #671CE5;
    color: white;
}