.mna__headerandwelcome{
    background-image: url("../../UI/utils/img/mainheaderandwelcomebackground.png");
    background-size: cover;
    -moz-background-size: cover; 
    background-position: center;
}

.mna__spheres{}

.mna__findteam{
    margin-bottom: 120px;
}

.mna__createteam{
    margin-bottom: 120px;
}

.mna__social{
    margin-bottom: 120px;
}

.mna__news{
    margin-bottom: 120px;
}