.backtomain__row {
    display: flex;
    align-items: center;
}

.backtomain__text {
    flex: 0 1 auto;
    color: #000;
    font-size: 20px;
    font-family: Inter;
    margin-left: 10px;
}

.bactomain__img {
    flex: 0 1 auto;
}