.header-reg {
    background: linear-gradient(to right, #272626, #4D2FA2);
    display: flex;
    justify-content: space-between;
}

.header-reg__backtomain {
    align-self: center;
    flex: 0 1 auto;
}

.header-reg__logo {
    align-self: center;
    flex: 0 1 auto;
}

.header-reg__help {
    align-self: center;
    flex: 0 1 auto;
}

.backtomain__text {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;


}

.bactomain__img {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 50px;
}