.header-auth {
    background: linear-gradient(to right, #272626, #3E3A53);
    display: flex;
    justify-content: space-between;
}

.header-auth__backtomain {
    align-self: center;
    flex: 0 1 auto;
    padding-left: 50px;
}

.header-auth__logo {
    align-self: center;
    flex: 0 1 auto;
}

.header-auth__toregistration {
    align-self: center;
    flex: 0 1 auto;
    padding-right: 50px;
}