.specialization {
    margin-right: 12px;
}

.specialization__main {
    background: linear-gradient(90deg, #671CE5 0%, #2F2B43 98.75%);
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    border-radius: 25px;
    padding: 18.5px 46px;
    text-align: center;
}