@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');


.regform {
    background: linear-gradient(212.18deg, #252424 19.58%, #6321DA 109.93%);
}

.regform__container {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 15px 15px 0px;
    padding-top: 14px;
    padding-left: 62px;
    padding-bottom: 46px;
    padding-right: 62px;
    min-height: 100vh;
}


.regform__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.regform__header {
    flex: 0 1 auto;
}

.regform-header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.regform-header__logo {
    flex: 0 1 auto;
}

.regform-header__backtomain {
    flex: 0 1 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.regform__main {
    flex: 0 1 auto;
    align-self: center;
    margin-top: 54px;
}

.regform-main__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.regform-main__title {
    flex: 0 1 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #162938;
    margin-bottom: 43px;
}

.regform-main__input {
    flex: 0 1 auto;
    align-self: flex-start;
    width: 100%;
    margin-bottom: 18px;
}

.regform-main__input:nth-child(6) {
    margin-bottom: 0px;
}

.regform-main__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #162938;
    margin-bottom: 13px;
}

.regform-main__actions {
    flex: 0 1 auto;
    margin-top: 54px;
}

.regform-actions__row {
    display: flex;
    flex-direction: column;
}

.regform-actions__buttonreg {
    flex: 0 1 auto;
    align-self: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    box-shadow: 0px 0px 4px #272626;
    border-radius: 5px;
    background: linear-gradient(91.7deg, #322C4C 1.47%, #681BE6 98.59%);
    padding: 20px 158px 20px 129px;
    width: 100%;
    margin-bottom: 19px;
}

.regform-actions__buttonreg:hover{
    color: #681BE6;
    background: white;
}

.regform-actions__or {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(22, 41, 56, 0.7);
    align-self: center;
    margin-bottom: 19px;
}

.regform-actions__buttonvk {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(39, 135, 245, 0.85);
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding: 8px 158px 8px 129px;
    margin-bottom: 19px;
}

.buttonvk__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonvk__img {
    flex: 0 1 auto;
}

.buttonvk__text {
    flex: 0 1 auto;
    margin-left: 17px;
}

.regform-actions__buttonenter {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(87, 43, 185, 0.85);
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding: 17px 0px 17px 0px;
    width: 100%;
}

.regform-actions__buttonenter:hover {
    background: linear-gradient(91.7deg, #322C4C 1.47%, #681BE6 98.59%);
    color: white;
}