.opususers{
    border-radius: 20px;
    border: 2px solid #7200FE;
    padding: 20px 32px;
}

.ou__text{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ou__text-num{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}