.userdata__login {
    display: block;
    color: #363535;
    font-size: 36px;
    font-family: Inter;
    font-weight: 600;
    margin-bottom: 20px;
}

.userdata__nameandsurname {
    display: block;
    color: #686868;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
}