.lkinfo {
    padding: 50px 30px 20px 30px;
    background: linear-gradient(to right, #272626, #3E3A53);
}

.info__background {
    background-color: #D9D9D9;
    padding: 20px 35px 25px 35px;
}


.info__row {
    display: flex;
    justify-content: space-between;
}

.info__base {
    flex: 0 1 auto;
}

.info__skills {
    flex: 0 1 auto;
}