.ma__headerandwelcome{
    background-image: url("../../UI/utils/img/mainheaderandwelcomebackground.png");
    background-size: cover;
    -moz-background-size: cover; 
    background-position: center;
}

.ma__spheres{}

.ma__findteam{
    margin-bottom: 120px;
}

.ma__createteam{
    margin-bottom: 120px;
}

.ma__social{
    margin-bottom: 120px;
}

.ma__news{
    margin-bottom: 120px;
}