.exit__row {
    display: flex;
    align-items: center;
}

.exit__text {
    flex: 0 1 auto;
    color: #000;
    font-size: 20px;
    font-family: Inter;
    margin-right: 10px;
}

.exit__img {
    flex: 0 1 auto;
}