.n__container1{
    padding: 0px 100px;
}

.n__container2{
    border-radius: 20px;
    background: #F0F0F0;
    padding: 40px 40px 80px 40px;
}

.n__title{
    color: var(--, #000);
    font-family: Manrope;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 72px */
    margin-bottom: 40px;
    margin-left: 88px;
}

.n__main{}

.n__main-row{
    display: flex;
}

.n__main-previous{
    margin-right: 40px;
}

.n__main-newscard{}

.n__main-next{
    margin-left: 40px;
}