.ps__container {
    padding: 50px 240px;
    width: 100%;
}

.ps__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ps__navigation {
    width: 100%;
    border-radius: 236px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px #641FD9;
    padding: 18px 40px;
    margin-bottom: 50px;
}

.ps-navigation__row {
    display: flex;
    justify-content: space-between;
}

.ps-navigation__general {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ps-navigation__profile {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ps-navigation__personal {
    text-decoration-line: underline;
    background: linear-gradient(90deg, #322B4A 0%, #641DDC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.ps-description__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ps__description {
    width: 90%;
    border-radius: 31px;
    background: linear-gradient(90deg, #671DE2 0%, #302B45 100%);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45);
    padding: 30px 0px 55px 0px;
    margin-bottom: 55px;
}

.ps-description__title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.ps-description__subtext1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.ps-description__subtext2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ps__form {
    width: 90%;
}

.ps-form__row {
    display: flex;
    justify-content: space-between;
}

.ps-form__left {
    width: 40%;
}

.psform-left__column {
    display: flex;
    flex-direction: column;
}

.psform-left__age {
    margin-bottom: 40px;
}

.psform-age__text {
    margin-bottom: 13px;
    color: #312B48;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.psform-age__input {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.psform-left__phone {
    margin-bottom: 34px;
}

.psform-phone__text {
    margin-bottom: 13px;
    color: #312B48;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.psform-phone__input {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.psform-left__contacs {}

.psform-contacs__text {
    margin-bottom: 8px;
    color: #312B48;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.psform-contacs__select {
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15) inset;
    padding: 10px 0px 10px 13px;
    color: #9F9F9F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.psform-contacs__option {
    color: #9F9F9F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ps-form__right {
    width: 40%;
}

.psform-right__column {
    display: flex;
    flex-direction: column;
}

.psform-right__title {
    margin-right: 30%;
    align-self: flex-end;
    margin-bottom: 13px;
    color: #312B48;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.psform-right__add {
    margin-bottom: 20px;
    align-self: flex-end;
}

.psform-right__addbutton {
    border-radius: 36px;
    border: 3px solid #621ED6;
    background: #FFF;
    padding: 109px 156px;
}

.psform-right__description {
    align-self: flex-end;
    color: #6C6C6C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}