.addproject{
    
}

.addproject__row{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.addproject__row-left{
    display: flex;
    flex-direction: column;

    &-image{
        position: relative;
	    display: inline-block;
        
        width: 300px;
        border-radius: 150px;
    }

    margin-right: 46px;
}

.addproject__row-addimage{
    
}

.addproject__row-addimage-default{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 3px solid #621ED6;
    padding: 30px;
}

.addproject__row-left-image input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.addproject__row-addbanner{

}

.addproject__row-subtitle{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.addproject__row-left-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-tag{
        cursor: pointer;
        border-radius: 10px;
        background: #F0F0F0;
        padding: 8px 16px;
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &tag:active{
        border-radius: 10px;
        background: linear-gradient(90deg, #671CE5 0%, #2F2B43 98.75%);
        padding: 8px 16px;
        color: white;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.addproject__row-left-commerce{
    &-no{

    }
    
    &-no:active{

    }

    &-yes{

    }
    
    &-yes:active{

    }
}

.baseinput{

}

.addproject__row-right{
    display: flex;
    flex-direction: column;
}

.addproject__row-right-persons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-person{
        cursor: pointer;
        border-radius: 10px;
        background: #F0F0F0;
        padding: 8px 16px;
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &-person:active{
        border-radius: 10px;
        background: linear-gradient(90deg, #671CE5 0%, #2F2B43 98.75%);
        padding: 8px 16px;
        color: white;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.addproject__row-right-confirm{
    margin-top: 90px;
    border-radius: 20px;
    background: linear-gradient(90deg, #671CE5 0%, #2F2B43 100%);
    padding: 16px 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}